<div class="container mx-auto p-8 flex flex-col md:flex-row items-center">
    <!-- Text Section -->
    <div class="md:w-1/2 text-center md:text-left">
        <h2 class="text-green-600 text-xl font-semibold flex items-center">
            <mat-icon class="mr-2">groups</mat-icon> Tuyển dụng
        </h2>
        <h1 class="text-3xl font-bold mt-2">Tham gia với chúng tôi ngay</h1>
        <p class="text-gray-600 mt-2">
            Join our team and become part of a group dedicated to delivering exceptional value and care to our clients.
        </p>
        <div class="flex gap-4 mt-4">
            <button (click)="downloadFile()" mat-raised-button class="apply-btn px-6 py-2 rounded-lg bg-green-500">
                Apply Now
            </button>
            <button (click)="contactUs()" mat-raised-button class="contact-btn px-6 py-2 rounded-lg">
                Contact Us
            </button>
        </div>
        
        
        
        <div class="flex mt-6 space-x-6">
            <div>
                <h3 class="text-2xl font-bold">230+</h3>
                <p class="text-gray-500">trailers</p>
            </div>
            <div>
                <h3 class="text-2xl font-bold">30%</h3>
                <p class="text-gray-500">team drivers</p>
            </div>
            <div>
                <h3 class="text-2xl font-bold">70%</h3>
                <p class="text-gray-500">solo drivers</p>
            </div>
        </div>
    </div>

    <!-- Image Section -->
    <div class="md:w-1/2 flex justify-center relative mt-8 md:mt-0">
        <div class="relative w-60 h-60 md:w-80 md:h-80">
            <img src="assets/green-line/ContainerService/daukeo.bmp" alt="Trucks" 
            class="absolute top-0 right-[-10%] w-full h-full object-cover rounded-lg shadow-lg transform rotate-12">
            <img src="assets/green-line/ContainerService/daukeo2.png" alt="Trucks" 
                class="absolute top-0 left-[-10%] w-full h-full object-cover rounded-lg shadow-lg transform -rotate-12">
        </div>
    </div>
    
</div>
