<div class="flex flex-col min-h-screen w-full">
    <!-- Phần Video -->
    <div class="relative flex justify-center items-center w-full">
        <!-- Video nền -->
        <div class="relative top-0 left-0 w-screen h-screen overflow-hidden">
            <iframe 
                class="absolute top-0 left-0 w-full h-full"
                src="https://www.youtube.com/embed/56UTyshRoXA?autoplay=1&loop=1&mute=1&playlist=56UTyshRoXA" 
                frameborder="0" 
                allow="autoplay; encrypted-media; fullscreen" 
                allowfullscreen>
            </iframe>
        </div>
        
        
    
    
    
        <!-- Lớp phủ làm mờ video -->
        <div class="absolute inset-0 bg-black opacity-50"></div>
    
        <!-- Nội dung: Logo + Chữ "Green Line" -->
        <div class="absolute flex items-center space-x-4">
            <!-- Logo -->
            <img src="/assets/green-line/logo.svg" alt="Green Line Logo" class="h-16 w-auto">
            
            <!-- Chữ Green Line -->
            <!-- <span class="text-green-500 text-4xl font-bold">
                Green Line
            </span> -->
        </div>
    </div>
    
    
    

    <div class="flex flex-col w-full">
        <app-introduce class="bg-green-300 w-full relative"></app-introduce>
        
        <!-- Sóng xanh lá -->
        <div class="w-full overflow-hidden leading-[0] bg-green-300">
            <svg class="relative block w-full h-[100px] text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M0,60 C150,120 350,0 600,60 C850,120 1050,0 1200,60 V120 H0 Z" fill="white"></path>
            </svg>
        </div>
        
        <app-services class="bg-white w-full relative"></app-services>
        
        <!-- Sóng trắng -->
        <div class="w-full overflow-hidden leading-[0] bg-white">
            <svg class="relative block w-full h-[100px] text-green-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M0,60 C150,120 350,0 600,60 C850,120 1050,0 1200,60 V120 H0 Z" fill="currentColor"></path>
            </svg>
        </div>
        
        <app-solutions class="bg-green-300 w-full relative"></app-solutions>
        
        <!-- Sóng xanh lá -->
        <div class="w-full overflow-hidden leading-[0] bg-green-300">
            <svg class="relative block w-full h-[100px] text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M0,60 C150,120 350,0 600,60 C850,120 1050,0 1200,60 V120 H0 Z" fill="white"></path>
            </svg>
        </div>
        
        <app-news class="bg-white w-full relative"></app-news>
        
        <!-- Sóng trắng -->
        <div class="w-full overflow-hidden leading-[0] bg-white">
            <svg class="relative block w-full h-[100px] text-green-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M0,60 C150,120 350,0 600,60 C850,120 1050,0 1200,60 V120 H0 Z" fill="currentColor"></path>
            </svg>
        </div>
        
        <app-hire class="bg-green-300 w-full relative"></app-hire>
        
        <!-- Sóng xanh lá -->
        <div class="w-full overflow-hidden leading-[0] bg-green-300">
            <svg class="relative block w-full h-[100px] text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M0,60 C150,120 350,0 600,60 C850,120 1050,0 1200,60 V120 H0 Z" fill="white"></path>
            </svg>
        </div>
        
        <app-contact class="bg-white w-full"></app-contact>
    </div>
</div>
