<div class="container mx-auto px-4 py-8">
    <h2 class="text-green-600 text-xl font-semibold text-center">🚀 {{'our-advantages-are-endless' | transloco}}</h2>
    <h1 class="text-4xl font-bold text-center mt-2">{{'quality-services-is-our-law' | transloco}}</h1>
    <p class="text-gray-600 mt-2 px-4 md:w-2/3 mx-auto text-center">
        {{'services-descriptions' | transloco}}
    </p>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-8">
        <div *ngFor="let service of services" class="bg-white p-6 rounded-lg shadow-md">
            <img [src]="service.img" class="rounded-md w-full" alt="{{ service.title }}">
            <h3 class="text-lg font-bold mt-4">{{ service.title }}</h3>
            <p class="text-gray-600 mt-2">{{ service.description }}</p>
        </div>
    </div>
</div>
